<!DOCTYPE html>
<html lang="en">

<head>
	<% include partials/head %>
</head>

<body class="container">
	<% include partials/navbar %>
	<div class="row">
		<div class="col-sm-4">
		</br>
			<div class="text-center" id="desktop-icon"><i class="fa fa-desktop" style="font-size:72px;color:blue"></i></div>
			</br>
			<table class="table">
        <div>	
				<tr><td><strong>Desktop ID</td></strong><td id="instanceId"><%= user.instanceId %></td><td></td></tr>
				<tr><td><strong>Desktop IP</td></strong><td id="instanceIP" class="align-middle"><%= user.instanceIP %></td>
					<td><button class="copy-btn btn" data-clipboard-target="instanceIP"><i class="fa fa-copy"></i></button>
          </td></tr>
        </div>
				<div>
					<tr><td><strong>Status</td></strong><td id="instanceStatus"><%= user.instanceStatus %></td><td></td></tr>
				</div>
			</table>
			<div class="alert alert-danger" id="error"></div>
			<div class="text-center"><img src="/images/loader.gif" id="loader" style="display:none" /></div>
		</div>
		<div class="col-sm-4">
		<div class="spacer"></div>
			<button id="create-btn" data-url="/users/<%= user.username %>/createInstance" type="submit" class="btn btn-primary btn-block">Launch Windows PC</button></br>
			<button id='shutdown-btn' data-url="/users/<%= user.username %>/<%= user.instanceId %>/stopInstance" type="submit" class="btn btn-danger btn-block">Shutdown</button></br>
		</div>
		<div class="col-sm-4">
			<div class="text-left well">
				<h3>Instructions <span class="glyphicon glyphicon-bullhorn"></span></h3>    
				<p></p>
				<dl>
					<dt>Launch Windows PC</dt>
					<dd>Starts a remote Windows 10 PC.</dd>
					<dd class="bg-danger"><small>NOTE: May take 4 to 5 minutes to setup.</small></dd>
					<dt>Shutdown</dt>
					<dd>Stops and deletes the remote PC.</br></dd>
					<div>
						<dt>How to connect?</dt>
						<dd>On Windows, search for Remote Desktop Connection on the Start Menu. Enter the Desktop IP, username (as <mark>'MHSVDI\username'</mark>) and password. Save & Connect</dd></br>
						<dd>On Mac, install Microsoft Remote Desktop 10. Add a new connection with the Desktop IP, username (as <mark>'MHSVDI\username'</mark>) and password. Save & Connect</dd>
						
					</div>
				</dl>
			</div>
		</div>
	</div>
	<p hidden id="username" data-username="<%= user.username %>"></p>
	<% include partials/script %>
</body>
</html>